.about {
  background-image: url(../img/rectangle.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #FFF;

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  &__desc {
    max-width: 625px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 43px;
  }
  &__btn_ask {
    margin-right: 30px;
    padding: 8px 34px;
    font-size: 18px;
    line-height: 1.33;
    text-transform: inherit;
    &:hover,
    &:focus {
      background-color: #208888;
    }
    &:active{
      background-color: #48adad;
      opacity: 0.7;
    }
  }
  &__btn_transparent {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 3px solid #2D5E5E;
    padding: 8px 57px;
    &:active{
      background-color: #48adad;
      opacity: 0.7;
    }
  }
  &__photo {
    position: absolute;
    padding-left: 50px;
    max-width: 494px;
  }
}