.btn {
  border: none;
  background: #2D5E5E;
  border-radius: 10px;
  padding: 8px 42px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 1.33;
  cursor: pointer;
  &:hover,
  &:focus {
    opacity: .7;
  }
  &:active {
    opacity: .5;
    background-color: #208888;
  }
}
