.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2D5E5E;
  display: flex;
  gap: 50px;
  align-items: center;
  &__list {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
  }
  &__link {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    line-height: 1.71;
  }
  &__logo {
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }
}

