.reviews {
  padding-top: 60px;
  padding-bottom: 70px;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px 20px;
  }
  &__review {
    background-color: rgba(173, 221, 222, 1);
    max-width: 600px;
    width: 100%;
    text-align: center;
  }
  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
  }
  &__reviewer {
    color: #2D5E5E;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    margin-top: 43px;
  }
  &__photo {
    margin-top: 20px;
  }
  &__desc {
    font-weight: 300;
    line-height: 1.5;
    margin: 30px 25px 20px;
  }
  &__toggler_right {
    rotate: 180deg;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  gap: 32px 18px;
}